
*.pdf

*.SUNet
*.pyc


examples/checkpoints/*

examples/chatbot/processed/*
examples/chatbot/checkpoints/*
examples/chatbot/data_analysis.py

assignments/chatbot/processed/*
GDLnotes/src/not_mnist/*.tar.gz
GDLnotes/src/not_mnist/notMNIST*
*/**.tar.gz
*.tar.gz
.DS_Store
.idea
ChineseNER/.DS_Store
GDLnotes/.DS_Store
assignments/.DS_Store
examples/.DS_Store
